@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    background: linear-gradient(to right, #96ffa7, #6fd984);
    font-family: 'Montserrat';
    color: black;
}

.header{
    background-color: #5cc572;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 5px 10%;
    
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .nav_links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}



.header .nav_links li{
    display: flex;
    align-items: center;
    padding: 0 20%;
    transition: all 0.2s;
    font-size: 17px;
    

}

.header .nav_links li:hover{
    transform: scale(1.1);
}

.header .nav_links a{
    font-size: 800;
    color: black;
    text-decoration: none;

}

.header .nav_links li a:hover{
    color: #fff;
}

.header .btn button{
    font-weight: 700;
    font-size: 15px;
    color: black;
    padding: 14px 30px;
    background: #96ffa7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .btn button:hover{
    background-color: #5cc572;
    color: bisque;
    transform: scale(1.1);
}


h1{
    text-align: center;
    padding-top: 4vh;
}



.caja{
    display:row;
    justify-content: center;
    width: 100%;
    padding-top: 6vh;
}


.caja .box-form{
    display: block;
    margin-left: 25%;
}

label{
    display: inline-block;
    width: 30%;
    font-weight: 510;

}

input{
    display: inline;
    margin: 2vh 0;
    width: 40%;
    border: none;

}

input[type = 'submit']{
    justify-content: center;
    cursor: pointer;
    width: 10%;
    padding: 7.5px 0;
    background-color:#6fd984;
    border: none;
    border-radius: 20px;
    transition: 0.2s all;
}

input[type = 'submit']:hover{
    color: #fff;
}